#registro-lectura-tablas--contenedor,
#contenedor-lecturas {
    background: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



#contenido-lecturas {
    width: 50%;
    height: auto;
}
#registro-lectura-tablas{
    width: 65%;
    height: auto;
}